.submit-post {
  background-color: rgba(16, 124, 173);
  color: white;
}

.submit-comment {
  background-color: rgba(16, 124, 173);
  color: white;
}


.submit-post {
  background-color: rgba(16, 124, 173);
  color: white;
}